# docker
.dockerignore
Dockerfile

# git
.git/
.gitignore

#HASKELL
dist
dist-*
cabal-dev
.cabal
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# my editor(s)
*.swp
*.swo
*.swn
*~

# documentation
README.md